@font-face{
    font-family: 'Poppins';
    font-weight: 700;
    src: url('../Assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../Assets/fonts/Poppins-Regular.ttf') format('truetype');
}

*{
    /*border-box tells the browser to account for borders and padding*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';font-size: 18px; font-weight: 400;
    justify-content: center;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}


nav{
    height: 90px;
    background: #212331;
    overflow: hidden;
    /*Flexbox layout mode, allowing element alignment, spacing and order within a container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    padding-right: 95px;
    border-bottom: 1px solid white;
}

.navbar-items{
    margin: auto;
    width: fit-content;
    transition: 0.2s;
}

.arrow-left img{
    background: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 5px;
    transition: 0.4s ease;
    cursor: pointer;
}

.arrow-left:hover{
    transform: scale(1.02);
}


nav a{
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    border-bottom: 3px solid transparent;
}

.navbar-items a:hover {
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 10px;
}

.hero{
    background: #40445f;
}

.hero-container{
    padding-bottom: 150px;
    text-align: center;
    border-bottom: 3px solid black;
}

.column-center h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: Happy Monkey;
    padding-top: 150px;
    
}

.gcse-results{
    padding-top: 140px;
    text-align: center;
}

.gcse-results img{
    padding-bottom: 15px;
}

.gcse-results h1{
    font-family: Happy Monkey;
    font-weight: 600;
    font-size: 34px;
    padding-bottom: 15px;
}


